@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DUNERISE";
  src: url("../public/fonts/Dune_Rise.otf");
}

.summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.wrapper {
  max-width: 950px;
  margin: 0 auto;
}
